# Virtual Environments
venv/
.venv/
env/

# Node.js
node_modules/
npm-debug.log*

# .NET / C#
bin/
obj/
*.user
*.userosscache
*.sln.docuser

# Java
*.class
target/
.metadata/
.settings/
.project
.classpath

# OS / IDE
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Python cache
__pycache__/
*.py[cod]
*$py.class
